@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #d1d4d2;
  outline: red 1px solid;
}

body {
  background-color: #010409;
}

p,
a {
  font-family: Roboto;
}
